// Headers
#top-bar {
    background-color: $blue-base;
    color: $text-light;
    padding: .625rem;
    
    &.transparent {
        background-color: transparent !important;
    }
    
    .container {  
        display: flex;
        flex-direction: row;
        flex-basis: 1;
    }
    
    .hero-slogan {
        font-size: .75rem;
        font-weight: 500;
        display: flex;
        align-self: center;
    }
    
    .social-icons {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        align-items: center;
        
        a > .fa {
            color: $text-light;
            font-size: .875rem;
            margin-left: .9375rem;
            @include transition(.5s ease all);
            
            &:hover {
                color: $orange-base;
            }
        }
        
        @include mq('md', $type: max) {
            display: none;
        }
    }
}

#header-default, .header-default {
    padding: 2.5rem 0;
    
    .container {
        display: flex;
        
        @include mq('md', $type: max) {
            flex-direction: column;
            align-items: flex-start;
        }
    }
    
    .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .info {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        
        @include mq('md', $type: max) {
            display: none;
        }
        
        .box {
            display: flex;
            justify-content: center;
            flex-direction: row;
            padding: 0 1.25rem;
            
            &:last-child {
                padding-right: 0 !important;
            }
            
            .icon .fa {
                font-size: 2rem;
                margin-right: .9375rem;
            }
        }
        
        p {
            font-size: .75rem;
            font-weight: light;
            font-weight: 300;
            margin: 0;
        }
        
        p:last-child {
            color: $text-dark;
            font-weight: 600;
        }
    }
  
    @include mq('md', $type: max) {
        padding: 2rem 0;
    }
}

#full-width-background {
    background-image: url('../assets/image02.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 10rem;
    position: relative;
    
    .container {
        position: relative;
    }
    
    &::before {
        content: "";
        background-color: $blue-base;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
    }
}

#header-bg-image {
    background-image: url('../assets/image09.jpg');
    background-position: center center;
    background-size: cover;
    min-height: 10rem;
    position: relative;
    
    .header-default {
        color: $text-light;
        border-top: .0625rem solid rgba($text-light, .3);
        
        .info {
            .box {
                p:last-child {
                    color: $text-light;
                }
            }
        }
    }
    
    .container {
        position: relative;
    }
    
    &::before {
        content: "";
        background-color: $blue-base;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .5;
    }
}