// Variables
// Theme Colors
$blue-base:    #141f22;
$blue-hover:   #1f3237;   
$orange-base:  #ecbe33; 
$orange-hover: lighten($orange-base, 10%);
$gray-100:     #f8f8f8;
$gray-200:     #ededed;

$text-dark:    #141f22;
$text-light:   #ffffff;

$green: #7ac93f;
$red: #bc2929;

// Paddings
$section-padding-xs: 1.5rem 0;
$section-padding: 2.5rem 0;
$section-padding-large: 5rem 0;